.header {

}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}

.header-nav {

}

.header-nav-list {

}

.header-nav-item {

}

.header-nav-link {
    font-weight: 500;
    color: #2e2f42

}

.address {

}

.socials {

}

.socials-iteam {

}

.socials-link {

}

.lsocials-link {

}